# Monitoramento da cotação de dolar

In [3]:
import pandas as pd

from alpha_vantage.foreignexchange import ForeignExchange
import time
import plotly.graph_objects as go

api_key = 'RNZPXZ6Q9FEFMEHM'  

cc = ForeignExchange(key = api_key, output_format= 'pandas')

data, meta_data = cc.get_currency_exchange_rate(from_currency = "USD", to_currency= "BRL")

In [5]:
type(meta_data)

NoneType

In [6]:
data

,1. From_Currency Code,2. From_Currency Name,3. To_Currency Code,4. To_Currency Name,5. Exchange Rate,6. Last Refreshed,7. Time Zone,8. Bid Price,9. Ask Price
Realtime Currency Exchange Rate,USD,United States Dollar,BRL,Brazilian Real,5.44710000,2020-06-26 17:09:31,UTC,-,-

In [7]:
data['6. Last Refreshed']

Realtime Currency Exchange Rate    2020-06-26 17:09:31
Name: 6. Last Refreshed, dtype: object

In [8]:
data['6. Last Refreshed'] = pd.to_datetime(data['6. Last Refreshed'])

In [9]:
data['6. Last Refreshed']

Realtime Currency Exchange Rate   2020-06-26 17:09:31
Name: 6. Last Refreshed, dtype: datetime64[ns]

In [10]:
data['horario'] = pd.to_datetime(data['6. Last Refreshed'])

In [11]:
data

,1. From_Currency Code,2. From_Currency Name,3. To_Currency Code,4. To_Currency Name,5. Exchange Rate,6. Last Refreshed,7. Time Zone,8. Bid Price,9. Ask Price,horario
Realtime Currency Exchange Rate,USD,United States Dollar,BRL,Brazilian Real,5.44710000,2020-06-26 17:09:31,UTC,-,-,2020-06-26 17:09:31

In [12]:
data.index

Index(['Realtime Currency Exchange Rate'], dtype='object')

In [13]:
data.set_index(data['6. Last Refreshed'], inplace=True)

In [14]:
data

,1. From_Currency Code,2. From_Currency Name,3. To_Currency Code,4. To_Currency Name,5. Exchange Rate,6. Last Refreshed,7. Time Zone,8. Bid Price,9. Ask Price,horario
6. Last Refreshed,,,,,,,,,,
2020-06-26 17:09:31,USD,United States Dollar,BRL,Brazilian Real,5.44710000,2020-06-26 17:09:31,UTC,-,-,2020-06-26 17:09:31

In [16]:
data.index = data.index.tz_localize(tz = "UTC").tz_convert(tz = "America/Sao_Paulo")

In [17]:
data.index

DatetimeIndex(['2020-06-26 14:09:31-03:00'], dtype='datetime64[ns, America/Sao_Paulo]', name='6. Last Refreshed', freq=None)

In [23]:
import pandas as pd
import cv2
from alpha_vantage.foreignexchange import ForeignExchange
import time
import plotly.graph_objects as go

api_key = 'RNZPXZ6Q9FEFMEHM'  

cc = ForeignExchange(key = api_key, output_format= 'pandas')

data, meta_data = cc.get_currency_exchange_rate(from_currency = "USD", to_currency= "BRL") 
data['6. Last Refreshed'] = pd.to_datetime(data['6. Last Refreshed'])

data.set_index(data['6. Last Refreshed'], inplace=True)
data.index = data.index.tz_localize(tz = "UTC").tz_convert(tz = "America/Sao_Paulo")

fig = go.FigureWidget()

fig.add_scatter(x = data.index, y = data['5. Exchange Rate'])

fig

FigureWidget({
    'data': [{'type': 'scatter',
              'uid': '00400f05-e770-49e1-b734-3e09ae357b5b',
 …

In [29]:
while True:  
    tmp, _ = cc.get_currency_exchange_rate(from_currency = "USD", to_currency= "BRL") 
    tmp['6. Last Refreshed'] = pd.to_datetime(tmp['6. Last Refreshed'])

    tmp.set_index(tmp['6. Last Refreshed'], inplace=True)
    tmp.index = tmp.index.tz_localize(tz = "UTC").tz_convert(tz = "America/Sao_Paulo")

    data = pd.concat([data,tmp])
    data.to_csv('../data/brl.csv')
    
    with fig.batch_update():
        fig.data[0].x = data.index
        fig.data[0].y = data['5. Exchange Rate']
        
    k = cv2.waitKey(0)
    if k == 27 & 0xFF:         # wait for ESC key to exit
        break
        
    time.sleep(60)

KeyboardInterrupt:

In [27]:
import cv2

In [20]:
fig.data

(Scatter({
     'uid': '10e285fd-dcb0-48bd-8c52-f5377634fd25',
     'x': array([datetime.datetime(2020, 6, 26, 14, 34, 42, tzinfo=<DstTzInfo 'America/Sao_Paulo' -03-1 day, 21:00:00 STD>)],
                dtype=object),
     'y': array(['5.44420000'], dtype=object)
 }),)

In [22]:
fig.data[0].x

array([datetime.datetime(2020, 6, 26, 14, 34, 42, tzinfo=<DstTzInfo 'America/Sao_Paulo' -03-1 day, 21:00:00 STD>)],
      dtype=object)

# Monitoramento de uma ação

In [39]:
import pandas as pd
import cv2
from alpha_vantage.timeseries import TimeSeries
import time
import plotly.graph_objects as go

api_key = 'RNZPXZ6Q9FEFMEHM'  

ts = TimeSeries(key = api_key, output_format= 'pandas')


fig = go.FigureWidget()

fig.add_scatter()

fig

FigureWidget({
    'data': [{'type': 'scatter', 'uid': 'b40fe210-92a1-4a21-9366-42e6765d08f1'}], 'layout': {'t…

In [40]:
while True:
    data, meta_data = ts.get_intraday('PETR4.SAO', interval='1min', outputsize='full') 
    data.index = data.index.tz_localize('US/Eastern').tz_convert("America/Sao_Paulo")
    
    hoje = data[data.index > '2020-06-26']
    
    hoje.to_csv('../data/petr4.csv')
    
    with fig.batch_update():
        fig.data[0].x = hoje.index
        fig.data[0].y = hoje['4. close']
        
    time.sleep(60)

KeyboardInterrupt:

In [31]:
data, meta_data = ts.get_intraday('PETR4.SAO', interval='1min', outputsize='full')

In [32]:
meta_data

{'1. Information': 'Intraday (1min) open, high, low, close prices and volume',
 '2. Symbol': 'PETR4.SAO',
 '3. Last Refreshed': '2020-06-26 13:59:06',
 '4. Interval': '1min',
 '5. Output Size': 'Full size',
 '6. Time Zone': 'US/Eastern'}

In [33]:
data

                     1. open  2. high  3. low  4. close  5. volume
date
2020-06-26 13:59:06    21.02    21.02   21.02     21.02        0.0
2020-06-26 13:57:00    21.01    21.03   20.99     21.03    53465.0
2020-06-26 13:56:00    21.00    21.03   21.00     21.01    86190.0
2020-06-26 13:55:00    21.00    21.01   20.99     21.00    36550.0
2020-06-26 13:54:00    20.99    21.01   20.98     20.99    20485.0
...                      ...      ...     ...       ...        ...
2020-06-22 09:15:00    21.38    21.45   21.38     21.42    81005.0
2020-06-22 09:14:00    21.45    21.46   21.37     21.39   119680.0
2020-06-22 09:13:00    21.47    21.51   21.45     21.45    95200.0
2020-06-22 09:12:00    21.50    21.56   21.43     21.47   159290.0
2020-06-22 09:11:00    21.60    21.60   21.49     21.51        0.0

[1909 rows x 5 columns]

In [34]:
data.index

DatetimeIndex(['2020-06-26 13:59:06', '2020-06-26 13:57:00',
               '2020-06-26 13:56:00', '2020-06-26 13:55:00',
               '2020-06-26 13:54:00', '2020-06-26 13:53:00',
               '2020-06-26 13:52:00', '2020-06-26 13:51:00',
               '2020-06-26 13:50:00', '2020-06-26 13:49:00',
               ...
               '2020-06-22 09:20:00', '2020-06-22 09:19:00',
               '2020-06-22 09:18:00', '2020-06-22 09:17:00',
               '2020-06-22 09:16:00', '2020-06-22 09:15:00',
               '2020-06-22 09:14:00', '2020-06-22 09:13:00',
               '2020-06-22 09:12:00', '2020-06-22 09:11:00'],
              dtype='datetime64[ns]', name='date', length=1909, freq=None)

In [35]:
hoje = data[data.index > '2020-06-26']

In [36]:
hoje

                     1. open  2. high  3. low  4. close  5. volume
date
2020-06-26 13:59:06    21.02    21.02   21.02     21.02        0.0
2020-06-26 13:57:00    21.01    21.03   20.99     21.03    53465.0
2020-06-26 13:56:00    21.00    21.03   21.00     21.01    86190.0
2020-06-26 13:55:00    21.00    21.01   20.99     21.00    36550.0
2020-06-26 13:54:00    20.99    21.01   20.98     20.99    20485.0
...                      ...      ...     ...       ...        ...
2020-06-26 09:13:00    21.33    21.35   21.30     21.32   162180.0
2020-06-26 09:12:00    21.33    21.35   21.31     21.34    95625.0
2020-06-26 09:11:00    21.34    21.36   21.31     21.35    98855.0
2020-06-26 09:10:00    21.27    21.35   21.24     21.33   319175.0
2020-06-26 09:09:00    21.21    21.29   21.18     21.28        0.0

[289 rows x 5 columns]

# candlestick

In [42]:
import pandas as pd
import cv2
from alpha_vantage.timeseries import TimeSeries
import time
import plotly.graph_objects as go

api_key = 'RNZPXZ6Q9FEFMEHM'  

ts = TimeSeries(key = api_key, output_format= 'pandas')


fig = go.FigureWidget()

fig.add_candlestick()

fig

FigureWidget({
    'data': [{'type': 'candlestick', 'uid': '576ef1f4-d91e-4d11-bd2b-53249df4a6f4'}], 'layout':…

In [44]:
while True:
    data, meta_data = ts.get_intraday('PETR4.SAO', interval='1min', outputsize='full') 
    data.index = data.index.tz_localize('US/Eastern').tz_convert("America/Sao_Paulo")
    
    hoje = data[data.index > '2020-06-26']
    
    hoje.to_csv('../data/petr4.csv')
    
    with fig.batch_update():
        fig.data[0].x = hoje.index
        fig.data[0].close = hoje['4. close']
        fig.data[0].open = hoje['1. open']
        fig.data[0].low = hoje['3. low']
        fig.data[0].high = hoje['2. high']
        
    time.sleep(60)

KeyboardInterrupt: